# Birdsong REST API

The Birdsong database is accessible via a REST API. Accessing it with any language should be fairly simple; for these examples, we'll use Python.

All we need to get started is to import the _requests_ package and set up our base URL.

In [1]:
import requests
URL = "http://127.0.0.1:5000/"

The simplest requests just view the rows in the database tables. Let's look at _bird_ the datbase's driving table:

In [2]:
# Find all birds
req = requests.get(URL + "view/bird")

# Results are returned as JSON. There are two blocks - "data" contains the returned data
req.json()["data"]

[{'id': 1,
  'name': '20171220_purple42white35',
  'band': 'pu42wh35',
  'nest': '20171220_purplewhite',
  'clutch': None,
  'sire': None,
  'damsel': None,
  'tutor': None,
  'location': 'CR4',
  'user': None,
  'username': '',
  'sex': 'M',
  'notes': None,
  'current_age': 1577,
  'alive': 1,
  'hatch_early': 'Wed, 20 Dec 2017 00:00:00',
  'hatch_late': 'Wed, 27 Dec 2017 00:00:00',
  'death_date': '0000-00-00 00:00:00'},
 {'id': 2,
  'name': '20171220_green42green35',
  'band': 'gr42gr35',
  'nest': '20171220_purplewhite',
  'clutch': None,
  'sire': None,
  'damsel': None,
  'tutor': None,
  'location': 'breeding',
  'user': None,
  'username': '',
  'sex': 'F',
  'notes': None,
  'current_age': 1577,
  'alive': 1,
  'hatch_early': 'Wed, 20 Dec 2017 00:00:00',
  'hatch_late': 'Wed, 27 Dec 2017 00:00:00',
  'death_date': '0000-00-00 00:00:00'},
 {'id': 3,
  'name': '20180611_purple19white71',
  'band': 'pu19wh71',
  'nest': '20171220_purplewhite',
  'clutch': None,
  'sire': '20171220_purple42white35',
  'damsel': '20171220_green42green35',
  'tutor': None,
  'location': None,
  'user': 'robsvi@gmail.com',
  'username': 'Svirskas, Rob',
  'sex': 'M',
  'notes': None,
  'current_age': 1404,
  'alive': 1,
  'hatch_early': 'Mon, 11 Jun 2018 00:00:00',
  'hatch_late': 'Sun, 17 Jun 2018 00:00:00',
  'death_date': '0000-00-00 00:00:00'},
 {'id': 4,
  'name': '20220405_purple11white21',
  'band': 'pu11wh21',
  'nest': '20171220_purplewhite',
  'clutch': '20220405_20171220_purplewhite',
  'sire': '20171220_purple42white35',
  'damsel': '20171220_green42green35',
  'tutor': None,
  'location': 'CR4',
  'user': None,
  'username': '',
  'sex': '',
  'notes': '',
  'current_age': 10,
  'alive': 1,
  'hatch_early': 'Tue, 5 Apr 2022 00:00:00',
  'hatch_late': 'Fri, 15 Apr 2022 00:00:00',
  'death_date': '0000-00-00 00:00:00'},
 {'id': 5,
  'name': '20220405_purple12white22',
  'band': 'pu12wh22',
  'nest': '20171220_purplewhite',
  'clutch': '20220405_20171220_purplewhite',
  'sire': '20171220_purple42white35',
  'damsel': '20171220_green42green35',
  'tutor': None,
  'location': 'CR4',
  'user': None,
  'username': '',
  'sex': '',
  'notes': '',
  'current_age': 10,
  'alive': 1,
  'hatch_early': 'Tue, 5 Apr 2022 00:00:00',
  'hatch_late': 'Fri, 15 Apr 2022 00:00:00',
  'death_date': '0000-00-00 00:00:00'},
 {'id': 6,
  'name': '20220405_purple12white23',
  'band': 'pu12wh23',
  'nest': '20171220_purplewhite',
  'clutch': '20220405_20171220_purplewhite',
  'sire': '20171220_purple42white35',
  'damsel': '20171220_green42green35',
  'tutor': None,
  'location': 'CR4',
  'user': None,
  'username': '',
  'sex': '',
  'notes': '',
  'current_age': 10,
  'alive': 1,
  'hatch_early': 'Tue, 5 Apr 2022 00:00:00',
  'hatch_late': 'Fri, 15 Apr 2022 00:00:00',
  'death_date': '0000-00-00 00:00:00'}]

In [3]:
# "rest" contains statistics on the API call itself
req.json()["rest"]

{'requester': '127.0.0.1',
 'url': 'http://127.0.0.1:5000/view/bird',
 'endpoint': 'get_view_rows',
 'error': False,
 'elapsed_time': '0:00:00.001743',
 'row_count': 6,
 'pid': 42219,
 'sql_statement': 'SELECT * FROM bird_vw'}

We can also look at specific birds:

In [4]:
# Find all birds sired by a specific bird
req = requests.get(URL + "view/bird?sire=20171220_purple42white35")
req.json()

{'rest': {'requester': '127.0.0.1',
  'url': 'http://127.0.0.1:5000/view/bird?sire=20171220_purple42white35',
  'endpoint': 'get_view_rows',
  'error': False,
  'elapsed_time': '0:00:00.001942',
  'row_count': 4,
  'pid': 42219,
  'sql_statement': "SELECT * FROM bird_vw WHERE sire=('20171220_purple42white35')"},
 'data': [{'id': 3,
   'name': '20180611_purple19white71',
   'band': 'pu19wh71',
   'nest': '20171220_purplewhite',
   'clutch': None,
   'sire': '20171220_purple42white35',
   'damsel': '20171220_green42green35',
   'tutor': None,
   'location': None,
   'user': 'robsvi@gmail.com',
   'username': 'Svirskas, Rob',
   'sex': 'M',
   'notes': None,
   'current_age': 1404,
   'alive': 1,
   'hatch_early': 'Mon, 11 Jun 2018 00:00:00',
   'hatch_late': 'Sun, 17 Jun 2018 00:00:00',
   'death_date': '0000-00-00 00:00:00'},
  {'id': 4,
   'name': '20220405_purple11white21',
   'band': 'pu11wh21',
   'nest': '20171220_purplewhite',
   'clutch': '20220405_20171220_purplewhite',
   'sire': '20171220_purple42white35',
   'damsel': '20171220_green42green35',
   'tutor': None,
   'location': 'CR4',
   'user': None,
   'username': '',
   'sex': '',
   'notes': '',
   'current_age': 10,
   'alive': 1,
   'hatch_early': 'Tue, 5 Apr 2022 00:00:00',
   'hatch_late': 'Fri, 15 Apr 2022 00:00:00',
   'death_date': '0000-00-00 00:00:00'},
  {'id': 5,
   'name': '20220405_purple12white22',
   'band': 'pu12wh22',
   'nest': '20171220_purplewhite',
   'clutch': '20220405_20171220_purplewhite',
   'sire': '20171220_purple42white35',
   'damsel': '20171220_green42green35',
   'tutor': None,
   'location': 'CR4',
   'user': None,
   'username': '',
   'sex': '',
   'notes': '',
   'current_age': 10,
   'alive': 1,
   'hatch_early': 'Tue, 5 Apr 2022 00:00:00',
   'hatch_late': 'Fri, 15 Apr 2022 00:00:00',
   'death_date': '0000-00-00 00:00:00'},
  {'id': 6,
   'name': '20220405_purple12white23',
   'band': 'pu12wh23',
   'nest': '20171220_purplewhite',
   'clutch': '20220405_20171220_purplewhite',
   'sire': '20171220_purple42white35',
   'damsel': '20171220_green42green35',
   'tutor': None,
   'location': 'CR4',
   'user': None,
   'username': '',
   'sex': '',
   'notes': '',
   'current_age': 10,
   'alive': 1,
   'hatch_early': 'Tue, 5 Apr 2022 00:00:00',
   'hatch_late': 'Fri, 15 Apr 2022 00:00:00',
   'death_date': '0000-00-00 00:00:00'}]}

That's a lot of data. What if I just wanted the nest and name for the birds?
We can specify just the columns we want:

In [5]:
# Find specific columns for all birds sired by a specific bird
req = requests.get(URL + "view/bird?sire=20171220_purple42white35&_columns=nest,name")
req.json()

{'rest': {'requester': '127.0.0.1',
  'url': 'http://127.0.0.1:5000/view/bird?sire=20171220_purple42white35&_columns=nest,name',
  'endpoint': 'get_view_rows',
  'error': False,
  'elapsed_time': '0:00:00.001299',
  'row_count': 4,
  'pid': 42219,
  'sql_statement': "SELECT nest,name FROM bird_vw WHERE sire=('20171220_purple42white35')"},
 'data': [{'nest': '20171220_purplewhite', 'name': '20180611_purple19white71'},
  {'nest': '20171220_purplewhite', 'name': '20220405_purple11white21'},
  {'nest': '20171220_purplewhite', 'name': '20220405_purple12white22'},
  {'nest': '20171220_purplewhite', 'name': '20220405_purple12white23'}]}

If you ever want to know which columns you can use for filtering, use the /columns/ endpoint:

In [6]:
# Find columns in the bird_event table
req = requests.get(URL + "columns/bird")
req.json()

{'rest': {'requester': '127.0.0.1',
  'url': 'http://127.0.0.1:5000/columns/bird',
  'endpoint': 'get_view_columns',
  'error': False,
  'elapsed_time': '0:00:00.005345',
  'row_count': 18,
  'pid': 42219},
 'columns': [{'Field': 'id',
   'Type': 'int(10) unsigned',
   'Null': 'NO',
   'Key': '',
   'Default': '0',
   'Extra': ''},
  {'Field': 'name',
   'Type': 'varchar(128)',
   'Null': 'NO',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'band',
   'Type': 'varchar(128)',
   'Null': 'NO',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'nest',
   'Type': 'varchar(128)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'clutch',
   'Type': 'varchar(128)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'sire',
   'Type': 'varchar(128)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'damsel',
   'Type': 'varchar(128)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'tutor',
   'Type': 'varchar(128)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'location',
   'Type': 'varchar(128)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'user',
   'Type': 'varchar(128)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'username',
   'Type': 'varchar(258)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'sex',
   'Type': 'varchar(1)',
   'Null': 'NO',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'notes',
   'Type': 'text',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'current_age',
   'Type': 'int(7)',
   'Null': 'YES',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'alive',
   'Type': 'tinyint(3) unsigned',
   'Null': 'NO',
   'Key': '',
   'Default': None,
   'Extra': ''},
  {'Field': 'hatch_early',
   'Type': 'timestamp',
   'Null': 'NO',
   'Key': '',
   'Default': '0000-00-00 00:00:00',
   'Extra': ''},
  {'Field': 'hatch_late',
   'Type': 'timestamp',
   'Null': 'NO',
   'Key': '',
   'Default': '0000-00-00 00:00:00',
   'Extra': ''},
  {'Field': 'death_date',
   'Type': 'timestamp',
   'Null': 'NO',
   'Key': '',
   'Default': '0000-00-00 00:00:00',
   'Extra': ''}]}

Let's try a different table:

In [7]:
# Find all events for a specific bird
req = requests.get(URL + "view/bird_event?name=20220405_purple12white23")
req.json()

{'rest': {'requester': '127.0.0.1',
  'url': 'http://127.0.0.1:5000/view/bird_event?name=20220405_purple12white23',
  'endpoint': 'get_view_rows',
  'error': False,
  'elapsed_time': '0:00:00.001451',
  'row_count': 1,
  'pid': 42219,
  'sql_statement': "SELECT * FROM bird_event_vw WHERE name=('20220405_purple12white23')"},
 'data': [{'id': 5,
   'name': '20220405_purple12white23',
   'nest': '20171220_purplewhite',
   'location': 'CR4',
   'status': 'Bird hatched in colony',
   'terminal': 0,
   'user': 'robsvi@gmail.com',
   'notes': None,
   'event_date': 'Fri, 15 Apr 2022 13:24:22'}]}

So far, everything has worked. What if there's an error, like a filter that specifies a non-existent bird?

In [8]:
# If there's an error, check rest->error
req = requests.get(URL + "view/bird_event?name=no_such_bird")
req.json()

{'rest': {'error': 'No rows returned for query SELECT * FROM bird_event_vw WHERE name=%s'}}

What about nests?

In [9]:
# Find the nest with a specific bird as a sire
req = requests.get(URL + "view/nest?sire=20171220_purple42white35")
req.json()

{'rest': {'requester': '127.0.0.1',
  'url': 'http://127.0.0.1:5000/view/nest?sire=20171220_purple42white35',
  'endpoint': 'get_view_rows',
  'error': False,
  'elapsed_time': '0:00:00.001386',
  'row_count': 1,
  'pid': 42219,
  'sql_statement': "SELECT * FROM nest_vw WHERE sire=('20171220_purple42white35')"},
 'data': [{'id': 1,
   'name': '20171220_purplewhite',
   'band': 'puwh',
   'sire': '20171220_purple42white35',
   'damsel': '20171220_green42green35',
   'female1': None,
   'female2': None,
   'female3': None,
   'location': 'CR10',
   'active': 1,
   'breeding': 1,
   'fostering': 0,
   'tutoring': 0,
   'notes': None,
   'create_date': 'Fri, 15 Apr 2022 13:22:59'}]}

Wildcards are also supported. Let's go back to the bird table:

In [10]:
# Find all birds with a green leg band:
req = requests.get(URL + "view/bird?name=*green*")
req.json()

{'rest': {'requester': '127.0.0.1',
  'url': 'http://127.0.0.1:5000/view/bird?name=*green*',
  'endpoint': 'get_view_rows',
  'error': False,
  'elapsed_time': '0:00:00.001403',
  'row_count': 1,
  'pid': 42219,
  'sql_statement': "SELECT * FROM bird_vw WHERE name LIKE ('%green%')"},
 'data': [{'id': 2,
   'name': '20171220_green42green35',
   'band': 'gr42gr35',
   'nest': '20171220_purplewhite',
   'clutch': None,
   'sire': None,
   'damsel': None,
   'tutor': None,
   'location': 'breeding',
   'user': None,
   'username': '',
   'sex': 'F',
   'notes': None,
   'current_age': 1577,
   'alive': 1,
   'hatch_early': 'Wed, 20 Dec 2017 00:00:00',
   'hatch_late': 'Wed, 27 Dec 2017 00:00:00',
   'death_date': '0000-00-00 00:00:00'}]}

"Not equals" (or "not like" in the case of wildscards) is also supported:

In [11]:
# Find the names of all birds without a green leg band:
req = requests.get(URL + "view/bird?name!=*green*&_columns=name")
req.json()

{'rest': {'requester': '127.0.0.1',
  'url': 'http://127.0.0.1:5000/view/bird?name!=*green*&_columns=name',
  'endpoint': 'get_view_rows',
  'error': False,
  'elapsed_time': '0:00:00.001104',
  'row_count': 5,
  'pid': 42219,
  'sql_statement': "SELECT name FROM bird_vw WHERE name NOT LIKE ('%green%')"},
 'data': [{'name': '20171220_purple42white35'},
  {'name': '20180611_purple19white71'},
  {'name': '20220405_purple11white21'},
  {'name': '20220405_purple12white22'},
  {'name': '20220405_purple12white23'}]}

<= and >= are also supported. Let's find every bird hatched before January 1st of 2020:

In [12]:
# Find the names of all birds without a green leg band:
req = requests.get(URL + "view/bird?hatch_late<=2020-01-01&_columns=name,hatch_early,hatch_late")
req.json()

{'rest': {'requester': '127.0.0.1',
  'url': 'http://127.0.0.1:5000/view/bird?hatch_late%3C=2020-01-01&_columns=name,hatch_early,hatch_late',
  'endpoint': 'get_view_rows',
  'error': False,
  'elapsed_time': '0:00:00.001618',
  'row_count': 3,
  'pid': 42219,
  'sql_statement': "SELECT name,hatch_early,hatch_late FROM bird_vw WHERE hatch_late<=('2020-01-01')"},
 'data': [{'name': '20171220_purple42white35',
   'hatch_early': 'Wed, 20 Dec 2017 00:00:00',
   'hatch_late': 'Wed, 27 Dec 2017 00:00:00'},
  {'name': '20171220_green42green35',
   'hatch_early': 'Wed, 20 Dec 2017 00:00:00',
   'hatch_late': 'Wed, 27 Dec 2017 00:00:00'},
  {'name': '20180611_purple19white71',
   'hatch_early': 'Mon, 11 Jun 2018 00:00:00',
   'hatch_late': 'Sun, 17 Jun 2018 00:00:00'}]}